*,*:before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    /* border: 1px solid red; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.background {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.mainText {
    text-align: center;
    color: rgb(89, 95, 100);
    position: relative;
    top: 40%;
}

.logo {
    content: url('../../src/assets/images/by_my_car.svg');
    padding-top: 50px;
    margin: auto;
    width: 30%;
    height: auto;
}